@import "src/styles/variables";

.button {
    margin-right: 10px;

    @media screen and (max-width: $tablet) {
        width: 200px;
        margin-bottom: 10px;
    }
}

.burgerWrapper {
    position: absolute;
    margin-left: 25px;
}

.menu {
    padding: 15px 0;

    @media screen and (max-width: $laptop) {
        position: absolute;
        left: 0;
        top: 0;
        flex-direction: column;
        display: none;
    }
}

.menuActive {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 90px 25px 25px;
    background: #ff748c ;
    box-sizing: border-box;
    z-index: 1;
}