.boardWrapper {
  position: absolute;
  top: 75px;
  left: calc(100% / 2 - 400px);
  width: 800px;
  height: 800px;
  background: #fff;
  border: 3px solid #000;
  user-select: none;
}

.boardWrapperWin95 {
  background: #e9d8f2;
}

.board {
  position: relative;
}

.cell {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.cell_black {
  cursor: pointer;
}

.blackTheme {
  &.cell_black {
    background-color: #000;

    &.cell_active {
      background-color: #00000070;
    }
  }
}

.win95Theme {
  &.cell_black {
    background-color: #6a0dad;

    &.cell_active {
      background-color: #FF00CC;
    }
  }
}

.wrapper {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.container {
  display: flex;
  justify-content: space-between;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    padding: 5px 0;
  }
}

.beatenPieces {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  position: relative;
  display: flex;
  padding: 15px;
}

.header__title {
  width: 100%;
}

.resetButton {
  position: absolute;
  top: 15px;
  left: 0;
  height: 50px;
  margin: 0;
  padding: 0 10px;
  background: #fff;
  border: 3px solid;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background: #F0F0F0;
  }
}

.switchThemeButton {
  @extend .resetButton;

  left: 120px;
}
