@import "src/styles/variables";

.board {
  position: relative;
  width: 800px;
  height: 800px;
  display: grid;
  background: #fff;
  border: 3px solid #000;
  user-select: none;

  @media screen and (max-width: $desktop-xl) {
    width: 360px;
    height: 360px;
  }

  @media screen and (max-width: $desktop) {
    width: 448px;
    height: 448px;
  }

  @media screen and (max-width: $laptop) {
    width: 800px;
    height: 800px;
  }

  @media screen and (max-width: $tablet) {
    width: 448px;
    height: 448px;
  }

  @media screen and (max-width: $mobile) {
    width: 288px;
    height: 288px;
    margin: 0;
  }
}

.boardWin95 {
  background: #e9d8f2;
}

.cell {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  @media screen and (max-width: $desktop-xl) {
    width: 45px;
    height: 45px;
  }

  @media screen and (max-width: $desktop) {
    width: 56px;
    height: 56px;
  }

  @media screen and (max-width: $laptop) {
    width: 100px;
    height: 100px;
  }

  @media screen and (max-width: $tablet) {
    width: 56px;
    height: 56px;
  }

  @media screen and (max-width: $mobile) {
    width: 36px;
    height: 36px;
  }
}

.cellBlack {
  cursor: pointer;
}

.blackTheme {
  &.cellBlack {
    background-color: #000;

    &.cell_active {
      background-color: #00000070;
    }
  }
}

.win95Theme {
  &.cellBlack {
    background-color: #6a0dad;

    &.cell_active {
      background-color: #FF00CC;
    }
  }
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 25px 50px;

  @media screen and (max-width: $laptop){
    padding: 15px 0;
  }
}

.container {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $laptop){
    justify-content: center;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    padding: 5px 5px 0 0;
  }
}

.header {
  position: relative;
  display: flex;
}

.title {
  width: 100%;
}


