@import "src/styles/variables";

.burgerMenu {
    width: 45px;
    height: 45px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    @media screen and (max-width: $tablet) {
        display: flex;
    }
}

.burgerMenuLine {
    width: 100%;
    height: 5px;
    background-color: #000;
    content: "|";
    transition: transform 0.5s;
    z-index: 2;
}

.burgerMenuFirstLineActive {
    transform: translateY(20px) rotate(45deg);
}

.burgerMenuSecondLineActive {
    display: none;
}

.burgerMenuThirdLineActive {
    transform: translateY(-20px) rotate(-45deg);
}