@import "src/styles/variables";

.piece {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border: 2px solid #fff;
  border-radius: 50%;

  @media screen and (max-width: $desktop-xl) {
    width: 40px;
    height: 40px;
  }

  @media screen and (max-width: $mobile) {
    width: 30px;
    height: 30px;
  }
}

.piece_white {
  background: #fff;
  border: 2px solid #000;
}

.win95Piece_white {
  background: #ba0000;
}

.pieceBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;

  @media screen and (max-width: $desktop-xl) {
    width: 26px;
    height: 26px;
  }

  @media screen and (max-width: $mobile) {
    width: 20px;
    height: 20px;
  }
}

.pieceBorder_white {
  border: 2px solid #000;
}
